body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.adminDashboard {
  padding: 20px;
}

.dashboardHeader {
  margin-bottom: 30px;
}

.filterSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.filterLabel {
  font-weight: bold;
  margin-right: 5px;
}

.filterInput, .filterSelect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.chartSection {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 20px;
}

.pieChart {
  width: 45%;
  max-width: 500px;
  height: auto;
}

/* Responsive Table */
.dataTable {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

.dataTable th, .dataTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.dataTable th {
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .filterSection {
    flex-direction: column;
    align-items: center;
  }

  .filterInput, .filterSelect, .filterButton {
    width: 100%; 
    margin-right: 0;
    margin-bottom: 10px;
  }

  .pieChart {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .dashboardHeader {
    font-size: 20px;
  }

  .filterLabel {
    display: block; 
    margin-bottom: 5px;
  }

  .pieChart {
    width: 90%; 
  }
}

.logout-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}